@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-color: #fafafa;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.Title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
}

.Title,
.oval,
.user {
  color: #0290ff;
}

.submit,
.update {
  background-color: #0290ff;
  color: #fff;
  border: none;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
}

.book,
.categories,
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

input[type=text] {
  color: rgb(0, 0, 0);
}

.active-link {
  color: #000;
  text-decoration: underline;
}

.navbar {
  background-color: #fff;
  justify-content: space-between;
}

* {
  list-style: none;
  text-decoration: none;
  padding: 0 5px 0 5px;
}

.navbar,
.Links,
.nav1 {
  display: flex;
}

.navbar,
.nav1 {
  align-items: center;
}

.Links li {
  padding: 0 20px;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.Book {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
  margin-bottom: 10px;
  padding: 0 20px 10px 20px;
  justify-content: space-between;
}

.navbar,
.books,
.form {
  padding: 1rem 6.188rem 1rem 6.25rem;
}

.book_category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

hr {
  margin-left: 6.188rem;
  margin-right: 6.25rem;
}

.form h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #888;
}

.Book div {
  width: 80%;
  align-self: center;
}

.title {
  width: 55%;
}

.categories,
.title {
  padding-left: 10px;
}

.categories,
.submit {
  width: 20%;
}

.book_title {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.currentChapter {
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.percentage {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin-bottom: 0;
}

.completed {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin-top: 0;
}

.percentageContainer {
  display: flex;
  align-items: center;
}

.book-options {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.book-options a {
  color: #4386bf;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  padding-right: 30px;
}
